<div class="col-lg-2 sidebar bg-color p-4 d-none d-lg-block">
  <ul class="nav flex-column aquariums-nav-pc">
    <li class="nav-item">
      <%= link_to "投稿一覧", aquaria_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "新規投稿", "#", class: "nav-link", "data-bs-toggle": :"modal", "data-bs-target": :"#exampleModal", "data-bs-whatever": :"@mdo" %>
    </li>
  </ul>
</div>
<div class="col-lg-2 bg-color d-lg-none aquariums-nav-sp">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "投稿一覧", aquaria_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "新規投稿", "#", class: "nav-link" %>
    </li>
  </ul>
</div>