<%= provide(:title, "投稿一覧") %>
<div class="modal fade" id="new-modal" tabindex="-1" aria-hidden="true", role="dialog"></div>

<div class="container py-4">
  <div class="row">
    <%= render "navbar" %>
    <div class="p-4 bg-color">
      <div class="row">
        <%= render partial: "posts", collection: @aquaria, as: "aquarium" %>
      </div>
    </div>
  </div>
</div>