<div id="comment-form-error"></div>
<%= form_with model: [aquarium, comment] do |f| %> 
  <%= f.label "コメントを入力", class: "col-form-label" %><br>
  <%= f.text_area :content, class: "form-controll w-100" %><br>
  <% f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
<% end %>