<%= provide(:title, "ショップサーチ") %>

<div class="container bg-color py-4 mt-3 shadow p-3 mb-5 bg-white rounded">
  <div id="target"></div>
  <button id="search" class="btn btn-primary">近所のアクアショップを探す</button>
  <input type="text" id="address" placeholder="住所を指定して探す">
  <button id="addressSearch" class="btn btn-primary"><i class="fas fa-search"></i></button>
  <div class="border-bottom"></div>
  <div class="result-list">アクアショップ検索結果一覧</div>
  <h6 class="result-text">*画像クリックでwebサイトにアクセスできます</h6>
  <h6 class="result-text result-sub-text">（webサイトを公開している場合に限る）</h6>
  <div class="container result-container">
    <div class="row" id="result-row">
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['SECRET_KEY'] %>&callback=initMap&libraries=places" async defer></script>
