<div class="modal fade" id="likeModal" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-inner">
        <div class="close-modal">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-header">
          <h1 class="modal-title" id="likeModalTitle">いいねしたユーザー</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% @liked_users.each do |user| %>
              <li class="like-user-li">
                <%= link_to users_posts_path(user.id), class: "col-lg-1 col-sm-1" do %>
                  <span>
                    <%= image_tag(user.user_image.to_s, alt: "user-icon", class: "host-icon like-user-icon") %>
                  </span>
                  <span><%= user.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div> 
        <div class="close-modal-under">
          <button class="close-modal-btn" type="button" data-bs-dismiss="modal" aria-label="Close">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>