<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" data-toggle="tooltip">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand ms-5 me-5" do %>
      <p class="mb-0 fs-3 logo"><i class="fas fa-fish"></i>Aquarist</p>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Shop search", "#", class: "nav-link fs-3 me-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", "#", class: "nav-link fs-3 me-5" %>
          </li>
          <li class="nav-item fs-3  ms-5 me-2 pt-2">
            user.name
          </li>
          <li class="nav-item me-3">
            <%= link_to image_tag("default_user.png", alt: "ユーザー.img", size: "50"), "#", class: "nav-link" %>
          </li>
        </ul>
    </div>
  </div>
</nav>

