<div class="modal fade" id="new-modal" tabindex="-1" aria-hidden="true", role="dialog"></div>
<div class="user pb-4">
  <div class="col bg-color user-posts pt-4">
    <% if current_user.id == user.id %>
      <%= link_to "新規投稿", new_aquarium_path, class: "btn-circle", remote: true %>
    <% end %>
    <%= render partial: "aquaria/posts", collection: @aquaria, as: "aquarium" %>
  </div>
</div>
<%= paginate aquaria, remote: true %>
